params {
    research_interests = "${projectDir}/prompts/research_interests.md"
    database_path = "literature_agent.db"
}

plugins {
    id 'nf-sqldb'
}

sql {
    db {
        articles_db {
            url = "jdbc:duckdb:${params.database_path}"
        }
    }
}

docker {
    enabled = true
    runOptions = "--platform linux/amd64"
}
