params {
    research_interests = "${projectDir}/prompts/research_interests.md"
    journal_list       = "${projectDir}/prompts/journals.tsv"
    database_path      = "literature_agent.db"
    outdir             = "results"
}

plugins {
    id 'nf-sqldb' {
      skipSslVerification = true
    }
}

sql {
    db {
        articles_db {
            url = "jdbc:duckdb:${params.database_path}"
        }
    }
}

docker {
    enabled = true
    runOptions = "--platform linux/amd64"
}
